{
  "--title" : "Open eMap documentation",
  "--": [ "../src/main/javascript", "../../libs/ext-4.2.1/src", "../../libs/geoext2-2.0.1/src" ],
  "--warnings": [
    "-nodoc(class,public):../../libs/ext-4.2.1/src",
    "-nodoc(member,public):../../libs/ext-4.2.1/src",
    "-link:../../libs/ext-4.2.1/src",
    "-type_name:../../libs/ext-4.2.1/src",
    "-all:../../libs/geoext2-2.0.1/src",
    "-type_name:../../libs/geoext2-2.0.1/src",
    "-all:jsduck.categories"
  ],
  "--ignore-html": [
    "locale",
    "debug"
  ],
  "--images": ["../../libs/ext-4.2.1/docs/images", "../doc/img"],
  "--builtin-classes": true,
  "--external": "OpenLayers.*"
}
