{
  "--title" : "openemap documentation",
  "--": [ "src/main/javascript", "ext-4.2.1/src", "geoext2/src" ],
  "--warnings": [
    "-nodoc(class,public):ext-4.2.1/src",
    "-nodoc(member,public):ext-4.2.1/src",
    "-link:ext-4.2.1/src",
    "-type_name:ext-4.2.1/src",
    "-all:geoext2/src",
    "-type_name:geoext2/src",
    "-all:jsduck.categories"
  ],
  "--ignore-html": [
    "locale",
    "debug"
  ],
  "--images": ["ext-4.2.1/docs/images", "doc/img"],
  "--builtin-classes": true,
  "--external": "OpenLayers.*"
}
