ul, li {
	list-style-type: none;
}

/* Ext JS overrides */
.legend {
    padding-left: 18px;
}

.x-grid-cell-inner {
    padding: 7px 0px 5px 5px;	
}

.x-grid-cell-row-checker .x-grid-cell-inner {
    padding: 4px 0px 5px 5px;
}

.x-grid-with-col-lines .x-grid-cell {
    border-right-width: 1px;
}
.x-grid-with-row-lines .x-grid-td {
    border-bottom-width: 1px;
}

/* Action icons */
.action-fullextent {
	background-image: url("images/oep-tools-icons/zoom_to_extent.png");
}
.action-print {
	background-image: url("images/oep-tools-icons/print.png");
}
.action-identify {
	background-image: url("images/oep-tools-icons/info.png");
}
.action-measureline {
	background-image: url("images/oep-tools-icons/measure_line.png");
}
.action-measurearea {
	background-image: url("images/oep-tools-icons/measure_area.png");
}
.action-drawobject {
	background-image: url("images/oep-tools-icons/draw_geometry.png");
}
.action-drawline {
	background-image: url("images/oep-tools-icons/draw_line.png");
}
.action-drawpoint {
	background-image: url("images/oep-tools-icons/draw_point.png");
}
.action-drawpolygon {
	background-image: url("images/oep-tools-icons/draw_free.png");
}
.action-modifygeometry {
	background-image: url("images/oep-tools-icons/edit_geometry.png");
}
.action-drawgeometry {
	background-image: url("images/oep-tools-icons/draw_free.png");
}
.action-drawtext {
	background-image: url("images/oep-tools-icons/bookmark_area.png");
}
.action-deletegeometry {
	background-image: url("images/oep-tools-icons/erase.png");
}
.action-selectgeometry {
	background-image: url("images/oep-tools-icons/mouse.png");
}
.action-remove {
	background-image: url("images/oep-tools-icons/trash.png");
}
.action-detailreport {
    background-image: url("images/oep-tools-icons/info.png");
}


/* Zoom tool icons */

.zoomtools-minus {
    background-image: url("images/oep-tools-icons/minus.png");
}

.zoomtools-plus {
    background-image: url("images/oep-tools-icons/plus.png");
}


/* ObjectConfig view icons */

.objectconfig-radio-l {
	width: 16px;
    height: 16px;
    background-position: -4px -4px;
    background-image: url("images/figur-L.png");
    border: 0px;
}
.objectconfig-radio-o {
    width: 16px;
    height: 16px;
    background-position: -4px -4px;
    background-image: url("images/figur-O.png");
    border: 0px;
}
.objectconfig-radio-r {
    width: 16px;
    height: 16px;
    background-position: -4px -4px;
    background-image: url("images/figur-R.png");
    border: 0px;
}
.objectconfig-radio-d {
    width: 16px;
    height: 16px;
    background-position: -4px -4px;
    background-image: url("images/figur-D.png");
    border: 0px;
}


.x-grid-cell-inner .x-action-col-icon {
	width: 22px;
	height: 22px;
}

/* custom action icons */

.action-draweldstad {
	background-image: url("images/draw_point.png");
}

/* attribution styles */

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   cursor: default;
}

.attribution {
	position: absolute;
	bottom:0px;
	right:0px;
}
